.modal {
    width: 33%;
    display: inline-block;
    border: 1px solid brown;
    background: #f1f1f1;
    position: fixed;
    top: 20%;
    left: 35%;
    height: 400px;
    z-index: 11;
    border-radius: 10px;
    background: bisque;
    overflow-y: scroll;
}

.modal button {
    background: #03a003;
    color: rgb(255 255 255);
    width: 13%;
    position: relative;
    left: 60%;
    top: 10%;
    cursor: pointer;
}
