
.header {
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: brown;
    z-index: 10;
    margin: 0px;
}

.header button {
    border-radius: 20px;
    width: 200px;
    height: 40px;
    position: relative;
    top: 12px;
    background: #6b0d0d;
    color: white;
}

.header p {
    color: cornsilk;
    font-size: 20px;
}

.header i {
    position: relative;
    right: 10px;
}

.bg img {

    width: 100%;
    position: relative;
    top: 63px;
    height: 100%;
}

.bg div {
    display: inline-block;
    width: 33%;
    height: 150px;
    border-radius: 20px;
    padding: 10px;
    color: white;
    font-family: cursive;
    font-size: 30px;
    position: relative;
    bottom: 250px;
    background-color: #857b7b;
    left: 450px;
}

